<!-- views/partials/loader.ejs -->
<div class="loader-wrapper" id="basic-loader">
  <div class="loader-box">
    <svg class="airbnb-loader-svg" viewBox="0 0 32 32"
         xmlns="http://www.w3.org/2000/svg"
         aria-hidden="true" role="presentation" focusable="false">
      <path d="M16 1c2.008 0 3.463.963 4.751 3.269l.533 1.025c1.954 3.83 6.114 12.54 7.1 14.836l.145.353c.667 1.591.914 2.472.96 3.396l.01.415.001.228c0 4.062-2.877 6.478-6.357 6.478-2.224 0-4.556-1.258-6.709-3.386l-.257-.26-.177-.179-.177.179-.257.26c-2.153 2.128-4.485 3.386-6.709 3.386-3.48 0-6.357-2.416-6.357-6.478l.001-.228.01-.415c.046-.924.293-1.805.96-3.396l.145-.353c.986-2.296 5.146-11.006 7.1-14.836l.533-1.025C12.537 1.963 13.992 1 16 1zm0 2c-1.239 0-2.053.539-2.987 2.211-.065.116-.134.238-.206.368L12.71 5.76C10.826 9.453 6.91 17.589 6.03 19.637l-.04.097c-.58 1.385-.776 2.067-.811 2.76l-.004.22c-.002.046-.002.112-.002.186 0 2.738 1.696 4.478 4.357 4.478 1.581 0 3.34-1.003 5.309-2.95l.487-.492.673-.68.673.68.487.492c1.97 1.947 3.729 2.95 5.309 2.95 2.661 0 4.357-1.74 4.357-4.478l-.002-.186-.003-.22c-.035-.693-.231-1.375-.811-2.76l-.04-.097c-.88-2.048-4.796-10.184-6.68-13.877l-.096-.182-.206-.368C18.053 3.539 17.239 3 16 3zm0 13c1.776 0 3.344.624 4.195 1.58.558.628.874 1.396.805 2.18l-.008.068-.066.386c-.167.756-.677 1.331-1.411 1.636l-.155.056-.178.053c-.365.094-.741.141-1.127.141-1.353 0-2.675-.632-3.815-1.76l-.24-.24-.24.24c-1.14 1.128-2.462 1.76-3.815 1.76-.386 0-.762-.047-1.127-.141l-.178-.053-.155-.056c-.734-.305-1.244-.88-1.411-1.636l-.066-.386-.008-.068c-.069-.784.247-1.552.805-2.18C9.656 16.624 11.224 16 13 16h3zm0 2h-3c-1.282 0-2.348.406-2.732 1.026l-.062.112c-.015.031-.027.065-.035.1l-.018.113c-.024.246.069.458.261.602l.094.062.116.059c.123.056.262.086.411.086 1.053 0 2.227-.588 3.243-1.594l.969-.958.969.958c1.016 1.006 2.19 1.594 3.243 1.594.149 0 .288-.03.411-.086l.116-.059.094-.062c.192-.144.285-.356.261-.602l-.018-.113c-.008-.035-.02-.069-.035-.1l-.062-.112C18.348 18.406 17.282 18 16 18z"></path>
    </svg>
  </div>
</div>

<script src="/js/loader.js">
  
</script>