<% layout("layouts/boilerplate") %>

<div class="container mt-4 mb-5">
    <div class="row">
        <!-- Responsive: Full width on mobile, centered 8 columns on desktop -->
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            
            <h1 class="text-center mb-4" style="color: #fe424d;">Terms & Conditions</h1>
            <p class="text-muted text-center mb-5">Last updated: October 26, 2023</p>

            <div class="content-section">
                <h3 class="mb-3">1. Agreement to Terms</h3>
                <p>
                    These Terms of Use constitute a legally binding agreement made between you, whether personally or on behalf of an entity (“you”) and 
                    Airbnb Clone ("we," "us" or "our"), concerning your access to and use of the website as well as any other media form, media channel, 
                    mobile website or mobile application related, linked, or otherwise connected thereto (collectively, the “Site”).
                </p>
            </div>

            <hr class="my-4">

            <div class="content-section">
                <h3 class="mb-3">2. User Representations</h3>
                <p>
                    By using the Site, you represent and warrant that:
                </p>
                <ul class="list-group list-group-flush mb-3">
                    <li class="list-group-item bg-transparent">All registration information you submit will be true, accurate, current, and complete.</li>
                    <li class="list-group-item bg-transparent">You will maintain the accuracy of such information and promptly update such registration information as necessary.</li>
                    <li class="list-group-item bg-transparent">You have the legal capacity and you agree to comply with these Terms of Use.</li>
                    <li class="list-group-item bg-transparent">You are not a minor in the jurisdiction in which you reside.</li>
                </ul>
            </div>

            <hr class="my-4">

            <div class="content-section">
                <h3 class="mb-3">3. User Registration</h3>
                <p>
                    You may be required to register with the Site. You agree to keep your password confidential and will be responsible for all use of your account and password. 
                    We reserve the right to remove, reclaim, or change a username you select if we determine, in our sole discretion, that such username is inappropriate, obscene, or otherwise objectionable.
                </p>
            </div>

            <hr class="my-4">

            <div class="content-section">
                <h3 class="mb-3">4. Limitation of Liability</h3>
                <p>
                    In no event will we or our directors, employees, or agents be liable to you or any third party for any direct, indirect, consequential, exemplary, incidental, special, or punitive damages, 
                    including lost profit, lost revenue, loss of data, or other damages arising from your use of the site, even if we have been advised of the possibility of such damages.
                </p>
            </div>
            
            <div class="mt-5 text-center">
                <a href="/listings" class="btn btn-dark">Back to Home</a>
            </div>

        </div>
    </div>
</div>